<md-toolbar class="nav-top">
    <button *ngIf="currentUser" class="menu-button toggle-icon" md-icon-button (click)="toggleSidebar()">
    <md-icon class="menu-icon">dehaze</md-icon>
  </button>
    <a routerLink="/dashboard" class="brand-icon">
        <img md-tooltip="{{'Home' | translate}}" mdTooltipClass="home" mdTooltipPosition="right" [alt]="logoAlt" [src]="logoUrl">
    </a>

    <app-search [placeHolderText]="''" [resetModalOnSelect]="true" [iconClass]="true" [spanIcon]="false" [searchUrl]=searchUrl [clearModel]="true" [filter]="''" [onEnterEvent]="false" (selectCallback)="redirectSearch($event)" (iconAnimationCallback)="iconAnimationCallback($event)">

    </app-search>

    <!-- Search Box Ends -->
    <div class="my-select-wrapper" [ngClass]="{'mbl-hide': (highlighticon && isMobile)}">
        <!-- Role Select Box Starts -->
        <div *ngIf="currentUser && currentUser.roles.length==1"> <span class="select-name">{{'My Role' | translate}}:</span><span class="single-role">{{currentUser.roles[0].label}}</span></div>
        <form md-tooltip="{{'Change Role' | translate}}" mdTooltipClass="role" [formGroup]="roleForm" (ngSubmit)="changeRole()" *ngIf="currentUser && currentUser.roles.length>1" class="roleForm">
            <span class="select-name">{{'My Role' | translate}}:</span>
            <span class="arrow-down"> <md-icon>keyboard_arrow_down</md-icon></span>
            <md-select formControlName="role" overlayDir="bottom" ngDefaultControl (change)="changeRole()" [ngModel]="currentUser.currentRole" panelClass="select-dropdown">
                <md-option *ngFor="let role of currentUser.roles" [value]="role.value">
                    {{ role.label }}
                </md-option>
            </md-select>
        </form>
        <!-- Role Select Box Ends -->
        <!-- Location Select Box Starts -->
        <form md-tooltip="{{'Change Location' | translate}}" mdTooltipClass="location" [formGroup]="locationForm" (ngSubmit)="changeLocation()" class="locationForm" *ngIf="currentUser && currentUser.locations && currentUser.locations.length > 1">
            <span class="select-name">{{'My Location' | translate}}:</span>
            <span class="arrow-down"> <md-icon>keyboard_arrow_down</md-icon></span>
            <md-select formControlName="location" ngDefaultControl (change)="changeLocation()" [ngModel]="currentUser.currentLocation" panelClass="select-dropdown-location">
                <md-option *ngFor="let loc of currentUser.locations" [value]="loc.value">
                    {{ loc.label }}
                </md-option>
            </md-select>
        </form>
        <!-- Location Select Box Ends -->
    </div>
    <!--my-select-wrapper-->
    <div class="icon-links-wrapper">
        <!-- App Menu dropdown  Starts -->
        <a *ngIf="currentUser" class="app-menu">
            <button md-tooltip="{{'Manage' | translate}}" mdTooltipClass="manage" md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>apps</md-icon>
    </button>
            <md-menu #menu="mdMenu" md-position-mode="target-right bottom" [overlapTrigger]="false" class="app-menu-dropdown">
                <h3 class="card-header"><span>{{'Get more from your data' | translate}}..</span>
                    <md-icon md-list-icon>clear</md-icon>
                </h3>
                <div md-menu-item>
                    <md-list>
                        <md-list-item>
                            <md-icon md-list-icon>report</md-icon>
                            <a href="#" md-line>{{'Reports' | translate}}</a>
                            <p md-line>{{'Find the right report for you from our list of reports' | translate}}</p>
                            <a class="" href="#" md-line>{{'Get Started' | translate}}</a>
                        </md-list-item>
                    </md-list>
                </div>
                <!--List text ends -->
                <div md-menu-item>
                    <md-list>
                        <md-list-item>
                            <md-icon md-list-icon>help_outline</md-icon>
                            <a href="#" md-line>{{'Help' | translate}}</a>
                            <p md-line>{{'What videos, read case studys and search our database.' | translate}}</p>
                            <a class="" href="#" md-line>{{'Get Started' | translate}}</a>
                        </md-list-item>
                    </md-list>
                </div>
                <!--List text ends -->
                <div md-menu-item>
                    <md-list>
                        <md-list-item>
                            <md-icon md-list-icon>settings</md-icon>
                            <a href="#" md-line>{{'Settings' | translate}}</a>
                            <p md-line>{{'Here is where you configure forms, manage users and the system' | translate}} </p>
                            <a class="" href="#" md-line>{{'Get Started' | translate}}</a>
                        </md-list-item>
                    </md-list>
                </div>
                <!--List text ends -->
                <div md-menu-item>
                    <md-list>
                        <md-list-item>
                            <md-icon md-list-icon class="dp48">file_upload</md-icon>
                            <a href="#" md-line>{{'Bulk Processing' | translate}}</a>
                            <p md-line>{{'Here is where you are able to create mass uploads of data' | translate}}</p>
                            <a class="" href="#" md-line>{{'Get Started' | translate}}</a>
                        </md-list-item>
                    </md-list>
                </div>
                <!--List text ends -->
            </md-menu>
        </a>
        <!-- App Menu dropdown  Ends -->
        <!-- Notification Menu dropdown  Starts -->
        <app-notification></app-notification>
        <!-- Notification Menu dropdown  Ends -->
        <!-- Profile Menu dropdown  Starts -->
        <app-profile-nav></app-profile-nav>
        <!-- Profile Menu dropdown  Ends -->
    </div>
    <!--icon links wrapper ends-->
</md-toolbar>