<md-card class="inbox-view-widget" fxLayout.xs="column" fxLayout.sm="column">
    <div class="inbox-view-header">
        <md-card-header class="box">
            <md-card-title>{{'Inbox' | translate}}</md-card-title>
            <app-search [placeHolderText]="translatedPHText" [iconClass]="true" [spanIcon]="true" [clearModel]="false" [resetModalOnSelect]="false" [searchUrl]=searchUrl [classText]="''" [isFilter]="true" [filter]=selectedFilter [onEnterEvent]="true" (selectCallback)="redirectSearch($event)"
                (modalValueOnFilterChange)="modalValueOnFilterChange($event)" (resetSearch)="resetSearch($event)">
            </app-search>

            <div class="select-sort" (externalClick)="showFilterDropdown=false">
                <span class="select-name"><span class="filter-name">{{'Filter by' | translate}}:</span>
                <span md-tooltip= "{{'Filter Mail Contents' | translate}}" class="selected-filter" (click)="showFilterDropdown=!showFilterDropdown">{{selectedFilter | stringTitleCase}}
              <span class="icon-arrow"><md-icon>keyboard_arrow_down</md-icon></span>
                </span>
                </span>
                <div class="filter-options" *ngIf="showFilterDropdown">
                    <ul class="filter-list">
                        <li><a onMouseOver="this.style.cursor='pointer'" (click)="selectFilter('none',$event)">{{'None' | translate}}</a></li>
                        <li><a onMouseOver="this.style.cursor='pointer'" (click)="selectFilter('mail',$event)">{{'Mail' | translate}}</a></li>
                        <li><a onMouseOver="this.style.cursor='pointer'" (click)="selectFilter('chat',$event)">{{'Chat' | translate}}</a></li>
                        <li><a onMouseOver="this.style.cursor='pointer'" (click)="selectFilter('tasks',$event)">{{'Tasks' | translate}}

                <span class="icon-arrow-sub" >
                  <md-icon *ngIf="!extendFilters" >keyboard_arrow_down</md-icon>
                    <md-icon *ngIf="extendFilters" >keyboard_arrow_up</md-icon>
                </span>

              <ul class="sub-list" *ngIf="extendFilters" >
                <li onMouseOver="this.style.cursor='pointer'" *ngFor="let subFilter of getFilterList"><a
                  (click)="selectFilter(subFilter.subFilterName,$event)">{{subFilter.displaySubFilterName}}</a></li>
                    </ul>
                    </a>
                    </li>
                    <li><a onMouseOver="this.style.cursor='pointer'" (click)="selectFilter('priority',$event)">{{'Priority' | translate}}</a></li>
                    </ul>
                </div>
            </div>

        </md-card-header>
        <!--Box ends -->
        <div *ngIf="inboxContent.length==0" class="text-center error-text">{{'No Results' | translate}}</div>
        <md-card-content *ngIf="inboxContent.length>0" class="inbox-content-wrapper" loadMoreData (scrolledToBottom)="onClickScroll($event)" id="custom-scroll">

            <div [ngClass]="{'read-mail': item.isRead}" *ngFor="let item of inboxContent" class="inbox-content">
                <div *ngIf="item.type == 'mail'" class="inbox-icon">
                    <md-icon>mail_outline</md-icon>
                </div>
                <div *ngIf="item.type == 'tasks'" class="inbox-icon">
                    <md-icon>build</md-icon>
                </div>
                <div *ngIf="item.type == 'chat'" class="inbox-icon">
                    <md-icon>chat</md-icon>
                </div>
                <div *ngIf="item.type == 'priority'" class="inbox-icon">
                    <md-icon>priority</md-icon>
                </div>
                <div *ngIf="item.type == 'modules'" class="inbox-icon">
                    <md-icon>modules</md-icon>
                </div>
                <div class="inbox-text">
                    <h3>{{item.equipmentIdentifier}}</h3>
                    <p class="ovr-flw"> {{item.equipmentDetails}}</p>
                    <p *ngIf="item.type == 'tasks'"><b>{{'Due Date'|translate}} : </b>{{item.dueDate | date:'dd/MMMM/yyyy'}}</p>
                </div>
                <div [ngStyle]="{ 'color':(item.isPrioritySet)?'red':'grey'}" [hidden]="item.priority" #priority+{{item.id}} (click)="setPriority(item.id,item)" class="inbox-priority inbox-{{item.id}}">
                    <a class="cursor" *ngIf="item.type !== 'chat'">
                        <md-icon md-tooltip= "{{'Toggle Priority' | translate}}">flag</md-icon>
                    </a>
                </div>
                <div [hidden]="!item.priority"></div>
                <div class="inbox-rcv-date" title="{{item.receivedOn |date:'fullDate'}} at {{item.receivedOn |date:'shortTime'}}">
                    <p>{{item.receivedOn | dateFormat}}</p>
                </div>
                <div class="inbox-view">
                    <button md-tooltip= "{{'Click To View More Details' | translate}}" (click)="showDetails(item.id,item)" class="btn-view">{{item.action | translate}}</button>
                </div>
            </div>

        </md-card-content>

    </div>
</md-card>