<div class="container-fluid">
  <h1> Task List </h1>

  <table class="table">
    <tr>
      <!--
      Alternative using sort-by directive in <th>
      [sort-by]="column.property"
      (sorted)="sortBy($event)"
      -->
      <th *ngFor="let column of columns"
          (click)=sortBy(column.property)>
        {{column.displayName}}
        <span *ngIf="sortReversed && sortProperty === column.property"
              class="glyphicon glyphicon-menu-down"></span>
        <span *ngIf="!sortReversed && sortProperty === column.property"
              class="glyphicon glyphicon-menu-up"></span>
      </th>
    </tr>

    <tr *ngFor="let task of filteredTasks">
      <td class="text-center">
        <img [src]="task.imageurl" height="80" weight="80"> <br>
        {{ task.fname }}
      </td>
      <td>
        <a> {{ task.objectid }} </a>
        <br>
        {{ task.emailtext }}
        <br>
        <a> Execute </a>
        <a> Details </a>
        <a *ngIf="task.claimable==='true'"> Claim </a>
      </td>
      <td>
        {{ task.datestarted }}
      </td>
      <td>
        {{ task.duedate }}
      </td>
      <td> {{ task.requestorName }}</td>
      <td>
        {{ task.requestorDate }}
      </td>
      <td> {{ task.eventId }}</td>
    </tr>

  </table>
</div>
