<div class="searchForm">
    <div class="search-widget" (externalClick)="handleBlur()" tabindex="-1">
        <md-input-container [ngClass]="{'search-ripple':searchEnter}">
            <div class="search-input">
                <div class="mdl-textfield ">
                    <input id="search" mdInput [placeholder]=placeHolderText (keyup.enter)="handleKeyupEnter()" type="search" [(ngModel)]="globalSearch" (focus)="handleFocus()" [class]="classText" [ngClass]="{'search-incr':searchEnter}" autocomplete="off" />
                    <md-icon md-tooltip= "{{'Search' | translate}}" *ngIf="iconFlags.iconClass && !iconFlags.spanClass" class="search-icon" [ngClass]="{'icon-act' : highlighticon}" (click)="handleIconToggle($event)">search</md-icon>
                    <span *ngIf="iconFlags.spanClass && iconFlags.iconClass" class="icon">
                        <md-icon *ngIf="iconClass==true" class="search-icon">search</md-icon>
                    </span>
                    <md-icon *ngIf="!iconFlags.iconClass && !iconFlags.spanClass">search</md-icon>
                </div>
            </div>
        </md-input-container>

        <div *ngIf="isOnBlur == false" (externalClick)="hide()">
            <div (click)="handleDivClick($event)" class="search-content-wrapper custom-scroll" *ngIf="searchRes" id="search-content-wrapper-container">
                <div class="search-content" *ngFor="let res of searchRes; let i=index;">
                    <div class="heading">
                        <h3>{{ res.module }}</h3>
                        <div class="line-aftr"></div>
                    </div>
                    <div *ngFor="let desc of res.result|slice:0:2; let objectData=index" class="search-desc" [ngClass]="{'hide-search':(objectData>1&&!res.toggleSearchExpand)}">
                        <div class="search-desc-content">
                            <div *ngFor="let list of desc |keys ;let objkey=index;">
                                <p *ngIf="list.key!='recordNumber'"><span class="desc-length">{{list.key |sentenceCase}}</span><span class="desc-separator">:</span><span class="desc-text"><span class="ovr-flw">{{ list.value }}</span></span>

                                </p>
                                <p *ngIf="res.result.length>2 && objectData==1" class="arrow-down-icon">
                                    <span (click)="handleToggle(res.module, $event)">
                                    <md-icon *ngIf="!res.toggleSearchExpand">keyboard_arrow_down</md-icon>
                                    <md-icon *ngIf="res.toggleSearchExpand">keyboard_arrow_up</md-icon>
                                    </span>
                                </p>
                            </div>
                            <a (click)="emitSearchEvent(res.module,desc)">{{'Select' | translate}}</a>
                        </div>

                    </div>

                    <div *ngIf="res.toggleSearchExpand">
                        <div *ngFor="let desc of res.result|slice:2:res.result.length; let objectData=index" class="search-desc">
                            <div class="search-desc-expand search-desc-content">
                                <div *ngFor="let list of desc |keys ;let objkey=index;">
                                    <p *ngIf="list.key!='recordNumber'"><span class="desc-length">{{list.key |sentenceCase}}</span><span class="desc-separator">:</span><span class="desc-text"><span class="ovr-flw">{{ list.value }}</span></span>

                                    </p>
                                </div>
                            </div>
                            <a  (click)="emitSearchEvent(res.module,desc)">{{'Select' | translate}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>