@import 'src/styles/material-color.scss';
.vert-c{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.carousel-wrapper {
  position: absolute;
  width: inherit;
  height: inherit;

  > .carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin-left: 10px;

    > .carousel-indi {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      z-index: 1;

      > ol {
        text-align: center;

        > li {
          cursor: pointer;
          display: inline-block;
          background-color: var(--app-tertiary-bg-color);
          width: 40px;
          height: 4px;
          margin-right: 10px;
          border-radius: 2px;
          border: 1px solid #ccc;

          > input {
            display: none;
          }
        }

        > li::last-child {
          margin-right: 0px;
        }

        > li.active {
          background-color: var(--app-secondary-color);
        }
      }
    }

    > .carousel-slide{
          width: 100%;
          height: 100%;
          position: absolute;
          overflow: hidden;
      .slide-pic{
        width: 100%;
          height: 100%;
        div{
            width: 75%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0 auto;
          }
        }
    }

    > .carousel-arrows{
      ol{
        list-style-type: none;
        li{
          @extend .vert-c;
          z-index: 9;
          .mat-icon{
            width: auto;
            height: auto;
            font-size: 91px;
            cursor: pointer;
            color: #95989a;
          }
        }
        li:first-child{left: -25px;}
        li:last-child{right: -25px;}
      }
      
    }
  }
}
.slide-text{
    font-size: 24px;
    text-align: center;
    color: #95989a;
    font-family: "ProximaNova-Regular";
    font-weight: 300;
    width: 85%;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%,-50%);   
    @extend .vert-c;
}

@media only screen and (max-width: 767px) {
  .carousel-wrapper{
   .carousel-container{
      margin-left: 5px;
      .carousel-arrows ol li .mat-icon {
          font-size: 75px;
      }
      .slide-text {
          font-size: 16px;
          width: 70%;
      }
    }
  }
}
