<div class="carousel-wrapper"> <!-- Fix the Safari parent position bug-->
  <div class="carousel-container" role="listbox">
    <!-- Indicators Lines-->
    <div class="carousel-indi" *ngIf="!isArrow">
      <ol>
        <li *ngFor="let slide of slides; let i = index;" [ngClass]="{ active: slide.state === 'current' }"
            (click)="onIndiClick(i)">
        </li>
      </ol>
    </div>

    <!-- Indicators Arrows-->
    <div class="carousel-arrows" *ngIf="isArrow">
        <ol>
          <li>
            <md-icon (click)="arrowBefore()">keyboard_arrow_left</md-icon>
          </li>
          <li>
            <md-icon (click)="arrowAfter()">keyboard_arrow_right</md-icon>              
          </li>
        </ol>
      </div>
         <!-- Slides -->
    <div *ngFor="let slide of slides;" class="carousel-slide" [@flyInOut]="slide.state"
          [ngClass]="{ active: slide.state === 'current' }">
         <div *ngIf="!slide.url" class="slide-text">
            {{slide.description}}
         </div>
         <!-- <div *ngIf="slide.url" >
            <img src={{slide.url}} >
         </div> -->
         <div *ngIf="slide.url" class="slide-pic">
            <div [style.background-image]="'url(' + slide.url + ')'">
            </div>
         </div>
    </div>
    </div>
</div>
