<pl-top-nav (menuToggleEmitter)="menu.toggleExpansion()">

</pl-top-nav>
<md-sidenav-container>

    <!-- primary content -->
    <router-outlet></router-outlet>
     <div class="breadcrumb-widget">
        <ul class="breadcrumb">
            <li *ngFor="let path of _urls" class="breadcrumb-item">
                <span *ngIf="path!=''">  {{path | translate}}</span>
                <span *ngIf="path==''">{{'Application' | translate}}</span>
                <span class="dir-rgt"><i class="icofont icofont-thin-right"></i></span>
            </li>
        </ul>
    </div>
    <pl-left-nav #menu></pl-left-nav>
</md-sidenav-container>
