<div fxLayout="column"
     fxLayoutAlign="start center" class="profile-wrapper">
  <div class="content-container">
    <div fxLayout="row" fxLayoutAlign="space-between" class="profile-title">
      <label> Get More From You Data </label>
      <button (click)="hide()" type="button" class="close-button"
              aria-label="Close">
        <i class="icofont icofont-ui-close" aria-hidden="true"></i>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start"
         class="profile-content">
    </div>
    <ul class="sidebar-items">
      <li>Reports
      </li>
      <li>Settings</li>
      <li>Help</li>
    </ul>


    <div class="spacer"></div>

  </div>
