$card-bg:#fafafa;
$color-red: #FF0000;
$color-light-red:#d9534f;
$color-black: #000000;
$color-green-light: #42e048;
$color-blue-text: #009ce2;
$color-blue-active: #55bbff;
$color-dark-gray-text: #545454;
$color-green: #49aa4c;
$tool-tip-bg-color: #f7f7f7;
$gray-color: #95989a;
$border-gray: #7c7c7c;
$border-gray-light: #d6d6d6;
$border-search: #f0f1f1;
$border-color-th: #e5e5e5;
$bg-white: #ffffff;
$bg-light-gray: #f8f8f8;
$color-gry-text: #a1a4a6;
$create-btn-blue: #6bbbdf;
$border-line: #ededed;
$bg-color-light-gray: #eeeeee;
$box-shadow: #cccccc;
$box-shadow-light: #eeeeee;
$widget-bg: #f3f3f3;
$border-gray-sign:#dddddd;

$heading2-color:#545454;

$color-warning:#eea236;
$color-success:#49aa4c;
$color-error:#e90000;


$font-stack: 'ProximaNova-Regular';

/* Color Styling Material Components Here */

/* MD Button */
.mat-button {
  background-color: var(--app-secondary-color);
  > span {
    color: var(--app-text-color);
  }
}

.errorForm {
  label.mat-input-placeholder {
    color: $color-error;
  }
  .mat-input-underline {
    background-color: $color-error;
  }
}
.mat-menu-ripple{display: none !important;}
.mat-menu-item:hover:not([disabled]), .mat-menu-item:focus:not([disabled]) {
    background: rgba(0, 0, 0, 0.0);
}
.mat-menu-item{cursor: default;}

/* MD Input */
input.mat-input-element {
  color: $color-black;
}

.mat-input-placeholder {
  color: var(--app-primary-color);
}

.mat-input-placeholder.mat-focused {
  color: var(--app-primary-color);
}
.mat-focused .mat-input-placeholder {
  color: var(--app-primary-color);
}

/* MD Select */
.mat-select-trigger {
  color: var(--app-text-secondary-bg-color);
}

.mat-select:focus:not(.mat-select-disabled) .mat-select-trigger {
  color: var(--app-primary-color);
}

.mat-select-underline {
  left: -25px !important;
}

.mat-select:focus:not(.mat-select-disabled) .mat-select-underline {
  background-color: var(--app-primary-color);
}

.mat-select-arrow {
  color: var(--app-text-secondary-bg-color);
}

.mat-select:focus:not(.mat-select-disabled) .mat-select-arrow {
  color: var(--app-primary-color);
}

.mat-select-content {
  background-color: var(--app-tertiary-bg-color);
}

.mat-option {
  color: var(--app-text-secondary-bg-color);
}

.mat-option.mat-selected {
  color: var(--app-primary-color);
  background: $bg-white;
}

.mat-select-value {
  color: var(--app-text-secondary-bg-color);
}
 .flx{
    display: -webkit-box;        
    display: -moz-box;              
    display: -ms-flexbox;           
    display: -webkit-flex;          
    display: flex; 
 }