
@import './material-color.scss';

/*.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  display: none;
}*/
.mat-menu-panel{
  -webkit-box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.5) !important;
  -moz-box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.5) !important;
  box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.5) !important;
   .mat-menu-content {
    padding:8px 0 8px 8px !important;
  }
}
.app-menu-dropdown:after, .notification-menu-dropdown:after, .profile-menu-dropdown:after, .menuselect-dropdown:after, .add-col-dropdown:after {
  border-bottom: 10px solid $bg-white;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  top: -9px;
  width: 0;
}
.create-new-action:after, .add-col-dropdown:after {
  border-bottom: 10px solid $bg-white;
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  top: -10px;
  width: 0;
}
.app-menu-dropdown, .notification-menu-dropdown, .profile-menu-dropdown {
  top: 29px;
}
.app-menu-dropdown, .profile-menu-dropdown, .menuselect-dropdown {
  overflow: visible !important;
  position: relative !important;
  max-width: 310px !important;
  min-width: 310px !important;
}
 .notification-menu-dropdown{
  position: absolute;
    overflow: visible !important;
  max-width: 310px !important;
  min-width: 310px !important;
    left: -35px;
    .mat-list {
      margin-bottom: 30px;
    }
      .mat-menu-content {
        padding-left: 0 !important;
    }
  
}
.app-menu-dropdown, .notification-menu-dropdown, .profile-menu-dropdown, .menuselect-dropdown {
  .mat-menu-item {
    height: auto !important;
    line-height: normal !important;
    padding: 0 1px 0 8px !important;
    .mat-icon {
      margin-right: 7px;
      padding: 1px 0 !important;
      font-size: 36px !important;
    }
  }
  .mat-menu-item:last-child {
    margin-bottom: 50px;
  }
  .mat-list-text {
    a.mat-line {
      display: block;
      color: var(--app-primary-color);
      font-size: 12px !important;
      text-decoration: none;
    }
    a.mat-line:first-child {
      font-weight: 600;
    }
    a.mat-line:last-child {
      font-weight: 400;
    }
    p.mat-line {
      padding: 5px 0 0;
      font-size: 12px !important;
      text-overflow: initial;
      white-space: normal;
    }
  }
  .mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content {
    align-items: flex-start;
  }
  .material-icons {
    font-size: 38px;
  }
  h3.card-header {
    color: $gray-color;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    text-indent: 20px;
    margin: 28px 0 20px 0;
    font-family: $font-stack;
    span{
      display: flex;
      flex: 1 0 auto;
    }
    .material-icons.mat-icon.mat-list-icon {
      color: $color-green;
      cursor: pointer;
      display: flex;
      flex: 0 0 auto;
      font-size: 21px;
      height: auto;
      margin: 0 10px 0 0;
      text-indent: 0;
      width: auto;
    }
  }
}

.app-menu-dropdown {
  left: 75px !important;
}


 .menuselect-dropdown:after {
   right: 90px;
  }
.app-menu-dropdown:after {
  right: 60px;
}

.profile-menu-dropdown:after {
  right: 0px;
}

.notification-menu-dropdown:after {
  right: 18px;
}

.create-new-action:after {
  right: 3px;
}

.mat-input-container {
  min-width: 100%;
  // height: 35px;
}
 
//Create Button popup
.create-new-action {
  max-width: 260px !important;
  min-width: 260px !important;
  top: 12px;
  overflow: visible !important;
  position: relative ; 
.mat-menu-content{ padding: 0 !important;}
  .mat-menu-item {
    font-size: 13px !important;
    border-bottom: 1px solid $border-color-th !important;
    font-family: $font-stack;
    height: 50px !important;
    line-height: 50px !important;   
    cursor: pointer; 
  }
  .mat-menu-item:last-child {
    border: 0 !important;
  }
  .mat-menu-item:hover {
    background: $border-gray-light !important;
  }
}
//Add column pop up
.add-col-dropdown{
  max-width: 170px !important;
  min-width: 170px !important;
  top: 12px;
  overflow: visible !important;
  position: relative ; 
  right: 50px;
.mat-menu-content{ padding: 0 !important;}
  .mat-menu-item {
    font-size: 13px !important;
    border-bottom: 1px solid $border-color-th !important;
    font-family: $font-stack;
    height: 50px !important;
    line-height: 50px !important;    
    cursor: pointer; 
  }
  .mat-menu-item:last-child {
    border: 0 !important;
  }
  .mat-menu-item:hover {
    background: $border-gray-light !important;
  }
}
.add-col-dropdown::after {
    right: 0px;
}
//Profile pop up
.profile-menu-dropdown {
  left: 15px !important;
  .mat-menu-item{ cursor: default;}
  .profile-image-container {
    .mat-icon {
      font-size: 105px !important;
      width: auto !important;
      height: auto !important;
      margin-left: 30px;      
    }
    label {
      color: var(--app-primary-color);
    }
    .img-wrapper{
        height: 90px;
        width: 90px;
        border-radius: 50%;
        border: 1px solid $gray-color;
        overflow: hidden;
        position: relative;
        display: table;
        .text-int{
          color: var(--app-primary-color);
          display: table-cell;
          font-size: 3em;
          vertical-align: middle;
          text-align: center;
        }
        img{
         height: 90px;
         width: 90px;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        }
        .circle{
          border-radius: 50%;
        }
      }
  }

  .profile-content {
    font-size: 12px;
    .profile-info {
      margin-left: 15px;
     
      p {
        margin: 0 0 10px;
        padding: 0;
        color: var(--app-primary-color);
        font-size: 12px;
      }
       .profile-name{
        min-height: 27px;
        margin-top: 2px;
        position: relative;
        p{
          margin: 2px 0 10px;
        }
      }
      span {
        font-family: $font-stack;
        display: flex;
        flex-direction: column;
        position: relative;
        .icon {
          position: absolute;
          right:-20px;
          cursor: pointer;
          top: -3px;
          .icofont {
            color: $color-black;
            font-size: 15px;
          }
          .mat-icon{
             color: #000;
              font-size: 14px !important;
              height: auto;
              width: auto;
          }
        }
      }
       
      span.email-sign{ margin-top: 7px;}
      .profile-select{
        margin-top: 2px;
        min-height: 27px;
        md-select{
          margin-bottom: 8px;
          font-family: $font-stack;
          font-size: 12px;
          height: 20px;
          border: 1px solid #ddd;
          border-radius: 5px;
          .mat-select-trigger{
            height: 20px;
            .mat-select-underline{
              left: 0px !important;
              position: absolute !important;
              display: none;
            }
            .mat-select-value {
              position: absolute !important;
              left: 5px !important;
              top: -7px !important;
                .mat-select-value-text{line-height: 32px; color: var(--app-primary-color);}              
              }
            .mat-select-arrow{
              margin: 6px 7px 0 4px;
              color: var(--app-primary-color) !important;
            }
            
          }
        }
      }
    }
  }
  .log-out-link {
    border-top: 1px solid $border-gray-light;
    color: $gray-color;
    font-size: 16px;
    margin: 10px 10px 0 0;
    padding: 11px 5px 5px;
    text-align: center;
    a {
      cursor: pointer;
    }
  }
}


//Snackbar Styles
snack-bar-container{
  border-radius: 0px !important;
  .mat-simple-snackbar-action{ 
    padding: 0; 
    text-transform: uppercase;
  }
  .mat-simple-snackbar {
      line-height: 20px;
  }
  .mat-simple-snackbar {
      font-family: $font-stack;
      font-size: 14px;
  }
}
.warning{
  simple-snack-bar{
    .mat-simple-snackbar-action{
      color: $color-warning;
    }
  }
}
.success{
  simple-snack-bar{
    .mat-simple-snackbar-action{
      color: $color-success;
    }
  }
}
.error{
  simple-snack-bar{
    .mat-simple-snackbar-action{
      color: $color-error;
    }
  }
}


//Select dropdown
//.cdk-overlay-pane{ top: auto !important;}
.select-dropdown, .select-dropdown-location{
  min-width: calc(100% - -15%) !important;
  box-shadow: none!important;
  border: 1px solid $border-gray-light;
  .mat-option{
    height: 36px;
    line-height: 36px;
    font-size: 13px;
    font-family: $font-stack;
    border-bottom: 1px solid $border-gray-light;
    background: $bg-white;
    color: $color-gry-text;
    font-weight: 300;
  }
  .mat-option:last-child{
    border-bottom: 0;
  }
}

//More Info column pop up
.more-info-dropdown{
  max-width: 200px !important;
  min-width: 200px !important;
  top: -72px;
  overflow: visible !important;
  position: relative ; 
  left: 73px;
  min-height: 220px;
  background: $bg-white;
  .more-info-content {
    font-family: $font-stack;
        h3 {
          border: 0 none;
          color: $gray-color;
          font-family: $font-stack;
          font-size: 20px;
          font-weight: 500;
          line-height: 1.3em;
          margin: 0 20px;
          padding: 0;
          text-decoration: none;
      }
        .img-section{
          text-align: center;
          max-width: 100%;
          max-height: 75px;
          img{
            max-width: 100%;
          }
          .icofont{
            font-size: 75px;
        }
        }
        ul {
          list-style: outside none none;
          margin: 0 20px;
          padding: 0;
          li{
            font-size: 16px;
            color: $gray-color;
          }
      }
        a {
          color: var(--app-primary-color);
          float: right;
          font-size: 12px;
          margin-right: 10px;
          text-decoration: none;
          cursor: pointer;
      }
  }

}
.more-info-dropdown:before {
    left:-49px;
}
.more-info-dropdown:before {
  border-bottom: 50px solid $bg-white;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  top: 37px;
  width: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

//Digital Signature
app-digital-signature {
    display: flex;
    .footer-section{
      margin: 10px;
      text-align: right;
      .btn-clear{
        background: $color-error;
        height: 30px;
        border: 1px solid $color-error;
        font-size: 14px;
        color: #fff;
      }
     
    }
}
  app-email-signature, app-digital-signature {
    .btn-close {
          background: transparent none repeat scroll 0 0;
          border: 0 none;
          color: $color-error;
          margin: 10px 0;
          text-align: right;
          width: 100%;
      }
      .footer-section{
        margin: 10px;
        text-align: right;
        .btn{
          min-width: 75px;
          border-radius: 4px;
        }
        .btn-submt{
          background: var(--app-primary-color);
          height: 30px;
          border: 1px solid var(--app-primary-color);
          font-size: 14px;
          color: #fff;
        }
        .btn-submt:hover{
          background:var(--app-secondary-color);
        }
      }
    }
//Email Signature
app-email-signature{
  display: flex;
  margin: 0 10px;
  .text-editor-widget{
    min-height: 100px;
  }
}

.profile-select-content{
    width: 90px;
    box-shadow: none !important;
    border: 1px solid #ccc;
    border-bottom: 0;
    .mat-option {
      background: #fff none repeat scroll 0 0;
      border-bottom: 1px solid #ccc;
      color: var(--app-text-secondary-bg-color);
      font-size: 13px;
      height: 36px;
      line-height: 36px;
  }
    .mat-option.mat-selected{
      color: var(--app-primary-color);
    }

}


.lang-select{
  .mat-option{
    background: $bg-white;
   border-bottom: 1px solid #ccc;
   font-family: $font-stack;
  }
}