<a *ngIf="currentUser" class="profile-menu">
    <button md-tooltip= "{{'User Profile' | translate}}" md-icon-button [mdMenuTriggerFor]="menuprofile">
    <md-icon>account_circle</md-icon>
  </button>
    <md-menu #menuprofile="mdMenu" [overlapTrigger]="false" class="profile-menu-dropdown">
        <h3 class="card-header"><span>{{'User Profile' | translate}}</span>
            <md-icon md-list-icon>clear</md-icon>
        </h3>
        <div md-menu-item (click)="stopClickPropagate($event)">
            <div fxLayout="row" fxLayoutAlign="start" class="profile-content">
                <div fxFlex="100px" fxLayout="column" fxLayoutAlign="start center" class="profile-image-container">
                    <div class="img-wrapper" *ngIf="useDefaultProfileImage && !showChangedImage">
                        <p  class="text-int" *ngIf="firstLetterFirstName || lastLetterFirstName"> {{firstLetterFirstName}} {{lastLetterFirstName}} </p>
                        <p class="text-int" *ngIf="defaultImage"> {{defaultImage}} </p>                        
                    </div>
                    <div class="img-wrapper" *ngIf="!useDefaultProfileImage || showChangedImage">
                        <img [src]="'data:image/jpg;base64,'+currentUser.profilePicSno" class="circle" (error)="profileImageBroken()">
                    </div>
                    <div class="upload-widget">
                        <input type="file" id="filePicker" (change)="handleFileSelect($event)" class="inputfile inputfile-1">
                        <label for="filePicker">
                            <span *ngIf="useDefaultProfileImage"> {{ 'Add Image' |translate }}</span>
                            <span *ngIf="!useDefaultProfileImage">{{ 'Change' |translate }} </span>
                        </label>
                    </div>
                </div>
                <div class="profile-info" fxLayout="column" fxLayoutAlign="start">
                    <span>{{ 'Username' | translate }}:</span>
                    <p>{{ currentUser.username }}</p>
                    <span>{{ 'Email' | translate }}:</span>
                    <p>{{ currentUser.email }}</p>
                    <span>{{ 'Name' | translate }}:</span>
                    <p>{{ currentUser.fname + ' ' + currentUser.lname }}</p>
                    <span>{{ 'Time Zone' | translate }}:
                <span class="icon"><md-icon (click)="makeEditable('timeZone')">create</md-icon></span>
                    <div *ngIf="!userIsEditabelFields.timeZone" class="profile-name">
                        <p>{{ currentUser.timeZone }}</p>
                    </div>
                    <div *ngIf="userIsEditabelFields.timeZone" class="profile-select">
                        <md-select [(ngModel)]="currentUser.timeZone" (change)="updateInfo('timeZone',currentUser.timeZone,'Time Zone')" panelClass="profile-select-content">
                            <md-option value="AEST">
                                AEST
                            </md-option>
                            <md-option value="CST">
                                CST
                            </md-option>
                            <md-option value="WET">
                                WET
                            </md-option>
                        </md-select>
                    </div>
                    </span>
                    <span>{{ 'Date Format' | translate }}:
                <span class="icon"><md-icon (click)="makeEditable('dateFormat')">create</md-icon></span>
                    <div *ngIf="!userIsEditabelFields.dateFormat" class="profile-name">
                        <p>{{ currentUser.dateFormat }}</p>
                    </div>
                    <div *ngIf="userIsEditabelFields.dateFormat" class="profile-select">
                        <md-select [(ngModel)]="currentUser.dateFormat" (change)="updateInfo('dateFormat',currentUser.dateFormat, 'Date format')" panelClass="profile-select-content">
                            <md-option value="MM.dd.yy">
                                MM.dd.yy
                            </md-option>
                            <md-option value="dd.MM.yy">
                                dd.MM.yy
                            </md-option>
                            <md-option value="dd M,yy">
                                dd M,yy
                            </md-option>
                            <md-option value="MM d,yy">
                                MM d,yy
                            </md-option>
                        </md-select>
                    </div>
                    </span>

                    <span>{{ 'Number Format' | translate }}:
                <span class="icon"><md-icon (click)="makeEditable('numberFormat')">create</md-icon></span>
                    <div *ngIf="!userIsEditabelFields.numberFormat" class="profile-name">
                        <p>{{ currentUser.numberFormat }}</p>
                    </div>
                    <div *ngIf="userIsEditabelFields.numberFormat" class="profile-select">
                        <md-select [(ngModel)]="currentUser.numberFormat" (change)="updateInfo('numberFormat',currentUser.numberFormat,'Number Format')" panelClass="profile-select-content">
                            <md-option value="0">
                                0
                            </md-option>
                            <md-option value="0.0">
                                0.0
                            </md-option>
                            <md-option value="0.00">
                                0.00
                            </md-option>
                        </md-select>
                    </div>
                    </span>
                    <span>{{ 'Digital Sign' | translate }}:
                <span class="icon" (click)="digitalSignatureDialog()"><md-icon>create</md-icon></span>
                    <p>{{ currentUser.digitalSign }}</p>
                    </span>
                    <span class="email-sign">{{ 'Email Signature' | translate }}:
                <span class="icon" (click)="emailSignatureDialog()"><md-icon>create</md-icon></span>
                    <p>{{ currentUser.emailSign }}</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="log-out-link">
            <a md-line (click)="logout()">{{'Logout' | translate}}</a>
        </div>
    </md-menu>
</a>
