<div class="dialog-box" *ngIf = "welcomeFlag">
  <button md-dialog-close class="btn-close"><span class="icon"> <md-icon>clear</md-icon> </span></button>
  <!--Header content   -->
  <h1 class="mat-dialog-title" md-dialog-title="" id="md-dialog-title-1">
    
  </h1>
  <!--Body content   -->
  <div class="mat-dialog-content" md-dialog-content="">
      <div class="carousel-container">
       <pl-carousel [slides]="data" [isArrow]="true" (toggleItem)="toggleItem($event)"></pl-carousel>
     </div>
  </div>
  <!--Footer content   -->
  <div class="mat-dialog-actions" md-dialog-actions="">
    <button md-dialog-close md-button md-dialog-close class="btn-trans">{{"Skip" | translate}}</button>
    <button md-button md-dialog-close class="btn-select" (click) = "updateVisibility()">{{'Get Started' | translate}}</button>
  </div>
</div>

