@import 'src/styles/material-color.scss';

.dashbrd-widgets {
  margin: 10px 0 0 30px;
  height: 300px;
  .widgets-wrapper {

    .widget-box {
      border: 1px solid $border-gray-light;

      justify-content: space-between;
      min-height: 200px;
      margin: 0 50px 40px 0;
      position: relative;
      .icon {
        bottom: 15px;
        left: 42%;
        position: absolute;
        .mat-icon {
          font-size: 40px !important;
          cursor: pointer;
        }
      }
    }
    .bg-fill {
      background: $widget-bg;
      box-shadow: 1px 3px 1px 1px $box-shadow-light;
      border: 0 !important;
      .icon-fill {
        display: flex;
        align-items: center;
        flex: 1 1 100%;
        justify-content: center;
        .mat-icon {
          font-size: 5em !important;
          height: auto !important;
          width: auto !important;
        }
      }
    }
    h4 {
      align-items: center;
      color: #999;
      display: flex;
      font-size: 16px;
      font-weight: 400;
      padding: 0 10px;
      text-align: center;
    }
    .new_widget{
      margin-top: -40%;
  }
  }
}


