<div class="dialog-box">
    <button md-dialog-close class="btn-close"><span class="icon"> <md-icon>clear</md-icon> </span></button>
    <!--Header content   -->

    <!--Body content   -->
    <div class="mat-dialog-content" md-dialog-content="">
      <ng-container *ngIf="widget.type === 'iframe'">
        <pl-iframe [url]="widget.content.url"></pl-iframe>
      </ng-container>
      <ng-container *ngIf="widget.type === 'image'">
        <div [ngStyle]="{'background-image': 'url(' + widget.content.src + ')'}" class="widget-pic"></div>
      </ng-container>
      <ng-container *ngIf="widget.type === 'carousel'">
        <pl-carousel [slides]="widget.content.slides"></pl-carousel>
      </ng-container>
      <ng-container *ngIf="widget.type === 'inbox'">
        <app-inbox (getDetailOnClick)="getDetailInbox($event)"></app-inbox>
      </ng-container>
      <ng-container *ngIf="widget.type === 'video'">
        <app-video [src]="widget.content.src"></app-video>
      </ng-container>
      <ng-container *ngIf="widget.type === 'audio'">
        <app-audio [src]="widget.content.src"></app-audio>
      </ng-container>
      <ng-container *ngIf="widget.type === 'create-widget'">
        <create-widget></create-widget>
      </ng-container>
    </div>
</div>
