@import 'src/styles/material-color.scss';

pl-dashboard{
    .content-withmenu-wrapper .content {
        width:100%;
    }
      /*
  .dashboard-card.mat-card{
    margin: 0 0 0 63px;
    width: calc(100% - 63px);
  }*/
}
pl-dashboard{
    .mat-card-header-text, .mat-card-header .mat-card-subtitle:not(:first-child){
      margin: 0;
    }
    .mat-card-header{margin-right: 95px;}
}
.profile-nav {
  max-width: 350px;
  min-width: 350px;
}
.dash-brd-wrapper{
   margin-right: 65px;
  flex: 1 0 100%;
  margin-bottom: 30px;
  height: 82%;
}

.inbox-dashboard{
  flex: 0 0 48%;
  display: flex;
  height: 100%;
  max-height: 100%;
}


.dashbrd-inbox {
  background: var(--app-tertiary-bg-color);
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px $box-shadow;
  display: flex;
  flex: 1 1 50%;
  margin: 10px 10px 10px 0;
  max-height: 550px;
  min-height: 100%;
  padding: 5px 10px;
  flex-flow: column nowrap;
  margin-right: 20px;
}

.dashbrd-widget{
  height: 100%;
  .widgets-wrapper{
    height: 100%;
      .widget-box {
          height: 100%;
          display: table;
          width: 100%; 
          h4 {
            display: table-cell;
            font-family: $font-stack;
            font-size: 20px;
            font-weight: 500;
            padding: 0 20px;
            text-align: center;
            vertical-align: middle;
            width: 100%;
            color: $gray-color;
          }
          .icon {
               cursor: pointer;
              display: table-row;
              text-align: center;
              width: 100%;
              md-icon {
                color: $gray-color;
                display: table-cell;
                font-size: 41px;
                height: auto;
                vertical-align: bottom;
                width: auto;
            }
          }
      }
  }
}
.widget-list{
   height: 100%;
    overflow: hidden;
  .widget-inbox-view{
    .panel-body{
      top: 0;
      margin-top: -40px;
      .panel-widget{
        margin: 0;
        height: 100%;
      }
    }
      .inbox-view-widget{
      .inbox-view-header{
        box-shadow: none !important;
        margin: 0;
        border-radius: 0 !important;
      }
    }
  }
}
