<div class="container" style="margin-top:20px">
  <div class="form-group" style="display:inline">
    <input style='width:50%' type="text" [(ngModel)]="searchName" class="form-control"   placeholder="search Name ..." id="usr">
    <label (click)="sortList()" style="float:right;cursor:pointer;background:whitesmoke">Sort by Joining date</label>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Joining Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of _list.getList()|search:searchName">
        <td>{{obj.name}}</td>
        <td>{{obj.age}}</td>
        <td>{{obj.joining_date|date}}</td>
      </tr>
    </tbody>
  </table>
</div>