<form fxFlexFill [formGroup]="changeForm" (ngSubmit)="onSubmit()"  autocomplete="off">
  <div fxFlexFill fxLayout="column" fxLayoutAlign="start center" class="flex-login-panel"  [ngClass]="{'errorForm' : changeError}">
    <div fxFlex="50px" class="login-title"> {{ 'Change Password' | translate }}</div>
    <md-input-container fxFlex="70px">
      <i mdPrefix class="icofont icofont-ui-user"></i>
      <input mdInput formControlName="username" placeholder="{{ 'Username' | translate }}" [readonly]="true">
    </md-input-container>
    <md-input-container fxFlex="70px">
      <i mdPrefix class="icofont icofont-ui-lock"></i>
      <input mdInput formControlName="newpassword" [readonly]="passwordReadOnly" placeholder="{{ 'New Password' | translate }}" type="password" (focus)="disableErrorMsg()" autocomplete="off">
      <md-error>{{ 'A password is required' | translate }}</md-error>
    </md-input-container>
    <md-input-container fxFlex="70px" class="mb-20">
      <i mdPrefix class="icofont icofont-ui-lock"></i>
      <input mdInput formControlName="repeatpassword" placeholder="{{ 'Confirm New Password' | translate }}"
             type="password" [readonly]="passwordReadOnly" (focus)="disableErrorMsg()">
      <md-error>{{ 'A password is required' | translate }}</md-error>
    </md-input-container>
    <alert></alert>
    <span fxFlex="50px" class="login-sub-links">
              <button type="submit" class="login-button green-bg pull-right"
                      md-button>{{ 'Login' | translate }}</button>
        </span>
    <div class="spacer"></div>
  </div>
</form>
