<form fxFlexFill [formGroup]="forgotForm" id="forgotForm" (ngSubmit)="onSubmit(username)">
  <div fxFlexFill fxLayout="column" fxLayoutAlign="start center" class="flex-login-panel"
       [ngClass]="{'errorForm' : forgotError}">
    <div fxFlex="70px" class="login-title">{{ 'Forgot Password' | translate }}</div>
    <md-input-container fxFlex="70px" class="mb-20">
      <i mdPrefix class="icofont icofont-ui-user"></i>
      <input mdInput [(ngModel)]="username" formControlName="username" placeholder="{{ 'Username' | translate }}" (focus)="disableErrorMsg()">
      <md-error>{{ 'Username is required' | translate }}</md-error>
    </md-input-container>
    <alert></alert>
    <span fxFlex="55px" class="login-sub-links">
            <a routerLink="/login/default/{{id}}">{{ 'Login' | translate }}</a>
      <button type="submit" class="login-button green-bg pull-right" md-button>{{ 'Submit' | translate }}</button>
        </span>
    <div class="spacer"></div>
    <a *ngIf="showChangePassword" class="chng-btn green-bg pull-right" routerLink="/login/change/{{id}}" md-button>
      {{ 'Change Password' | translate }}
    </a>

  </div>
</form>
