@import 'src/styles/material-color.scss';
app-equipment-list {
    display: flex;    
    width: 100%;
    min-height: 325px;
    position: relative;
    .icon-chat {
        right: -55px;
    }
    .table-container {
        display: flex;
        flex: 0 0 84%;
        margin: 0 0 0 8px;
        flex-direction: column;
        box-shadow: none;
        position: relative;
        overflow: hidden;
        max-height: 350px;
        .mat-table {
            background: transparent none repeat scroll 0 0;
            font-family: $font-stack;
            min-height: 325px;
            width: 86%;
            overflow-x: scroll;
            .mat-header-cell{
                font-size: 14px;
                position: relative;
                padding: 0;
                text-align: center ;
                color: $gray-color;
                cursor: pointer;
                max-width: 20%; 
                .mat-sort-header-container{
                    position: relative;
                    &:after {
                        content: '';
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        position: absolute;
                    }   
                }            
                    .delete-icon{
                        //display: none;
                        left:0px;
                        position: relative;
                        top: -6px;
                        visibility: hidden;                        
                        z-index: 1;
                         .mat-icon{
                             width: auto;
                             height: auto;
                             font-size: 19px;
                             color: #95989a;
                             cursor: pointer;
                             opacity: 0.6;
                         }
                    }
                .mat-icon{
                    position: relative;
                    top: 8px;
                    cursor: pointer;
                    color: #000;
                }
                .sort-icons{
                    position: relative;
                    display: inline-block;
                    .icofont{
                        font-size: 17px;
                        color: var(--app-text-bg-color);
                        position: absolute;
                        cursor: pointer;
                        font-weight: 600;
                        width: auto;
                        height: auto;
                    }
                    .icofont:first-child{
                        left: -5px;
                        top: -20px;
                    }
                    .icofont:last-child{
                        left: 1px;
                        top: -15px;
                    }
                }
            }
            .mat-header-cell:last-child .mat-icon{
                display: none;
            }
             .mat-header-cell:first-child{
                 text-align: left !important;
             }
            .mat-header-cell:hover, .mat-header-cell:focus{
                .delete-icon{visibility: visible;}
            }
            /*.mat-header-cell:first-child:hover, .mat-header-cell:first-child:focus{
                .delete-icon{display: block;left: 10%;}
            }*/
            .mat-header-row, .mat-row{
                padding: 0;
                align-items: flex-end;
            }
            .mat-header-row{
                font-size: 14px;
                border-bottom: 0;
            }
            .mat-row{
                font-size: 12px;
                border-bottom: 0;
                height: 47px;
            }
            .mat-cell{
                border-bottom: 1px solid var(--app-primary-color);
                padding:12px 0 6px 0px;
                text-align: center;
              max-width: 20%;
            }
            .mat-cell:first-child{
                text-align: left !important;
            }
            .mat-cell span {
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                width: 90%;
            }
            .icofont.icofont-open-eye {
                color: #000;
                cursor: pointer;
                font-size: 25px;
                position: relative;
                top: -4px;
            }
        }
        .mat-paginator{
            background: transparent none repeat scroll 0 0;
            min-height: 30px;
            .mat-paginator-page-size{
                display: none;
            }
        }
    }
    .more-col-widget{
        flex: 1 0 auto;
         h4 {
            color: #95989a;
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            padding: 15px 0 0;
        }
        ul.more-col-lines{
            list-style: outside none none;
            margin: 8px 0;
            li{
                border-bottom: 1px solid var(--app-primary-color);
                height: 48px;
                line-height: 50px;
                a{
                     line-height: 54px;
                    .icofont.icofont-open-eye {
                        color: #000;
                        cursor: pointer;
                        font-size: 25px;
                    }
                }
            }
        }
    }
    .add-col-widget{
        flex: 1 0 auto;
        justify-content: flex-end;
        text-align: right;
        .add-col-btn {
            background: $border-color-th;
            border: 1px solid $border-color-th;
            border-radius: 3px;
            color: var(--app-primary-color);
            font-size: 12px;
            height: 40px;
            max-width: 120px;
            min-width: 120px;
        }
        .add-col-lines{
            padding: 0 0 0 25px;
            margin: 3px 0;
            list-style: none;
            float: right;
            width: 80%;
            li{
                border-bottom: 1px solid $border-gray-light;
                height: 48px;
                line-height: 50px;
                margin: 0;
                padding: 0;
            }
        }
    }
    .sort-order{
     color: green !important;
    }
    .fix{
     position: absolute !important;
     //position: fixed !important;
     width: 17%;
     right: 0;
     padding:0 !important;
     background: $card-bg;
   }
    
}
.mat-sort-header-container{
    justify-content: center;
}
.mat-header-cell:first-child .mat-sort-header-container{
    justify-content: flex-start;
}
.accordion-widget{
    width: 100%;
}
@media only screen and (max-width: 767px) {
    app-equipment-list {
        min-height: 10px;
    }
}
.details{
    margin-top: -10px;
}
