@import 'src/styles/material-color.scss';

.accordion-group{
  position: relative; 
}
.mat-expansion-indicator::after {
  border-width: 0px 3px 3px 0;
  height: 7px;
  width: 7px;
  margin-top: -7px;
}

.accordion-group{
     
    .mat-expansion-panel-header{
      .mat-expansion-panel-header-title{margin-right: 0;}
      .mat-expansion-panel-header-description, .mat-expansion-panel-header-title{
        font-size: 16px;
        color: $color-dark-gray-text;
        font-family: 'ProximaNova-Regular';
        font-weight: 600;
      }
    }
    
   .toggle-icon{
     .mat-icon{
       width: auto;
       height: auto;
       font-size: 39px;
       color: $color-dark-gray-text;
       cursor: pointer;
       position: absolute;
       top: 9px;
       right: 10px;
     }
   }
  }
  span.heading-label, span.heading-value{
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
  }
  span.heading-label{
      width: 100px;
  }
  span.heading-value{
      width: 45%;
  }
p{
    font-size: 14px;
    span.field-txt, span.field-header{
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        width: 45%;
    }
}