<a *ngIf="currentUser" class="notification-menu">
    <button md-icon-button (mouseover)="isMobile? null: openMenu();" (click)="showNotification()">
        <p [ngClass]="(notificationCount!='') ? 'notificationBubble' : 'empytNotification' " >{{notificationCount}}</p><md-icon>notifications_none</md-icon>
  </button>

    <md-card class="notification-dropdown" id="noti-menu" *ngIf="showNotificationMenu" (mouseleave)="closeMenu()" (externalClick)="closeMenu()">
        <md-card-header class="header-wrapper">
            <md-card-title>{{'Notifications' | translate}}
                <md-icon md-list-icon (click)="closeMenu()">clear</md-icon>
            </md-card-title>
        </md-card-header>
        <md-card-content>
            <md-list>
                <md-list-item>
                    <md-icon md-list-icon>face</md-icon>
                    <a href="#" md-line>{{'Material data download complete' | translate}}</a>
                    <p md-line>{{'Kevin ma has sent timesheet TS768 your approval' | translate}} </p>
                    <a class="" href="#" md-line>{{'View more' | translate}}</a>
                </md-list-item>
            </md-list>
            <div class="view-all-link">
                <a md-line (click)="showNotification()">{{'View All' | translate}}</a>
            </div>
        </md-card-content>
    </md-card>
</a>