<div class="dialog-box">
    <button md-dialog-close class="btn-close"><span class="icon"> <md-icon>clear</md-icon> </span></button>
    <h1 class="mat-dialog-title" md-dialog-title="">{{'Digital Signature' | translate}}</h1>
    <form [formGroup]="form" (submit)="submit()" (window:resize)="beResponsive()">
        <div class="mat-dialog-content" md-dialog-content="">
            <div class="digital-sign-card">
                <div class="sig-container" #sigContainer2>
                    <div *ngIf="!flag">
                        <img [src]="digitalSign">
                    </div>
                    <div [ngClass]="{'digital-sign-hidden' : !flag}">
                        <signature-field formControlName="signatureField2"></signature-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="mat-dialog-actions footer-section" md-dialog-actions="">
            <button *ngIf="digitalSign.length>0" type="button" (click)="deleteSig()" class="btn btn-clear">{{'Delete' | translate}}</button>
            <button type="button" (click)="clear()" class="btn btn-clear">{{'Clear' | translate}}</button>
            <button type="submit" [ngClass]="{'btn-disable':!form.valid}" [disabled]="!form.valid" class="btn btn-submt">{{'Submit' | translate}}</button>
        </div>
    </form>
</div>
