@import 'src/styles/material-color.scss';
.digital-signature-modal{
  .mat-dialog-container {
      min-height: 365px;
      border: 2px solid $gray-color;
      width: 60%;
      margin: 0 auto;
    .dialog-box {
          height: 100% !important;
          width: 100vw !important;
          padding: 24px 24px 0 24px;
          position: relative;
        h1.mat-dialog-title{
          font-size: 20px;
          color: $gray-color;
          margin: -8px 0 10px;
          text-align: left;
          padding: 0;
          font-family: $font-stack;
        }
      .btn-close {
          color: var(--app-primary-color);
          position: absolute;
          top: 5px;
          right: 2px;
          width: auto;
          margin: 0;
      }
      .footer-section {
          margin: 0;
          display: flex;
          justify-content: flex-end;
      .btn{
        border-radius: 3px;
      }
      .btn-submt {
          background: $bg-white;
          height: 30px;
          border: 2px solid #d1d1d1;
          font-size: 14px;
          color: var(--app-primary-color);
          font-family: $font-stack;
          padding: 0;
          min-width: 95px;
      }
      .btn-clear {
          background: $bg-white;
          height: 30px;
          border: 0;
          font-size: 14px;
          color: var(--app-primary-color);
          font-family: $font-stack;
          min-width: 50px;
          padding: 0;
          margin-right: 12px;
      }
        .btn-submt:hover {
          background: var(--app-primary-color);
          color: var(--app-text-color);
          border: 2px solid var(--app-primary-color);
        }
        .btn-disable{
          opacity: 0.5;
          cursor: not-allowed;
        }
        .btn-disable:hover{
          color: var(--app-primary-color);
          background: var(--app-text-color);
        }
      }

      .sig-container canvas {
        
        min-height: 240px;
        width: 100%;
      }
      .digital-sign-hidden {
        display: none;
      }
      .digital-sign-visible {
        display: block !important;
      }
      .sig-container{
        min-width: 300px;
        min-height: 240px;
        border: 1px solid #ddd;
        img{
          max-width: 100%;
        }
      }
    }
  }
}