<div class="dialog-box">
    <!--Header content   -->
    <h1 class="mat-dialog-title" md-dialog-title="" id="md-dialog-title-1">
        {{title}}
    </h1>

    <!--Body content   -->
    <div class="mat-dialog-content" md-dialog-content="">
        {{body}}
    </div>


    <!--Footer content   -->
    <div class="mat-dialog-actions" md-dialog-actions="">
        <button class="mat-button" md-button="" md-dialog-close="Option 2" type="button" aria-label="Close dialog">
      <span class="mat-button-wrapper">{{ button}}</span>
      <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
    </div>
</div>