<!-- primary content -->
<div class="content-withmenu-wrapper">
    <div class="content" [style.gt-sm]="{'left': '0px'}" [style.xs]="{'left': '0px'}" [style.sm]="{'left': '0px'}">
        <md-card class="equipment-sm">
            <div class="container-equipment" fxLayout fxLayout.xs="column" fxLayoutAlign="flex-start" fxLayoutGap="10px" fxLayoutGap.xs="5px" fxLayout.sm="column">
                <md-card-header class="header-text">
                    <div class="cnt-l">
                        <md-card-title><i class="icofont icofont-tools-alt-2"></i> {{moduleHeader}} </md-card-title>
                        <div class="search-widget">
                            <app-search [iconClass]="false" [spanIcon]="false" [placeHolderText]= "translatedPHText" [searchUrl]=searchUrl [filter]="''" [clearModel]="true" [classText]="'search'" [onEnterEvent]="false" (selectCallback)="redirectSearch($event)">
                            </app-search>
                        </div>

                        <div class="filter-widget" (externalClick)="hideFilter()" [ngClass]="{'filter-disable' : disablefilter}">
                            <md-input-container class="filter">
                                <input mdInput type="text" [(ngModel)]="filterObj.filter" placeholder="{{'Filter By'|translate}}:" (focus)="filterResult()" [disabled]="disablefilter" autocomplete="off">
                                <md-icon>keyboard_arrow_down</md-icon>
                                <div *ngIf="filterData.length>0" md-prefix>
                                    <md-chip-list>
                                        <md-chip *ngFor="let fil of filterData; let i=index;">{{fil.filterText}}
                                            <md-icon (click)="removeFilter(i)">clear</md-icon>
                                        </md-chip>
                                    </md-chip-list>
                                </div>
                            </md-input-container>
                            <div *ngIf="filterObj.isFilterApplied && !filterObj.filter" class="filter-details">
                                <div class="search-content-wrapper" *ngIf="listFilters.result" id="custom-scroll">
                                    <div class="search-content" *ngFor="let listFilter of listFilters.result; let i=index;">
                                        <div class="heading" *ngIf="listFilter.type!='suggestion'">
                                            <h3>{{listFilter.title}}</h3>
                                            <div class="line-aftr"></div>
                                        </div>

                                        <div class="search-desc" *ngIf="listFilter.type=='standard'">
                                            <div class="search-desc-content">
                                                <p *ngFor="let standardFilter of listFilter.filters">
                                                    {{standardFilter.description}}
                                                    <a (click)="addFilter(standardFilter,listFilter.type)">{{'Select' | translate}}</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="search-desc" *ngIf="listFilter.type=='number'">
                                            <div class="search-desc-content">
                                                <p *ngFor="let numberFilter of listFilter.filters">
                                                    {{numberFilter.description}}:
                                                    <md-input-container>
                                                        <input mdInput type="text" [(ngModel)]="numberFilter.value">
                                                    </md-input-container>
                                                    <a (click)="addFilter(numberFilter,listFilter.type)">{{'Select' | translate}}</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="search-desc" *ngIf="listFilter.type=='date'">
                                            <div class="search-desc-content">
                                                <p *ngFor="let dateFilter of listFilter.filters">
                                                    {{dateFilter.description}}:
                                                    <md-input-container>
                                                        <input mdInput [(ngModel)]='date1' [mdDatepicker]="picker" value="Choose a date" disabled>
                                                        <button mdSuffix [mdDatepickerToggle]="picker"></button>
                                                    </md-input-container>
                                                    <md-datepicker #picker (selectedChanged)="selectedDateChange($event)"></md-datepicker>
                                                    -
                                                    <md-input-container>
                                                        <input mdInput [(ngModel)]='date2' [mdDatepicker]="picker1" value="Choose a date" disabled>
                                                        <button mdSuffix [mdDatepickerToggle]="picker1"></button>
                                                    </md-input-container>
                                                    <md-datepicker #picker1 (selectedChanged)="selectedDateChange($event)"></md-datepicker>
                                                    <a (click)="addFilter(dateFilter,listFilter.type)">{{ 'Select' | translate }}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="filterObj.isFilterApplied && filterObj.filter">
                                <div class="search-content-wrapper" id="custom-scroll">
                                    <div class="search-content" *ngFor="let listFilter of listFilters.result; let i=index;">
                                        <div class="heading" *ngIf="listFilter.type=='suggestion'">
                                            <h3>{{listFilter.title}}</h3>
                                            <div class="line-aftr"></div>
                                        </div>

                                        <div class="search-desc" *ngIf="listFilter.type=='suggestion'">
                                            <div class="search-desc-content">
                                                <p *ngFor="let suggestionFilter of listFilter.filters">
                                                    {{suggestionFilter.description}} : {{suggestionFilter.value}}
                                                    <a (click)="addFilter(suggestionFilter,listFilter.type)">{{ 'Select' | translate }}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="cnt-r">
                        <div class="export-link" (click)="showDialogPopup('export', null)">
                            <a md-tooltip= "{{'Export to File' | translate}}" href="javascript:void();">{{'Export'|translate}} </a>
                        </div>
                        <div class="btn-create">
                            <button md-tooltip= "{{'Create Items' | translate}}" (click)="redirectToCreate()">{{'Create' | translate}} <span class="add-icon"> <md-icon>add</md-icon></span>
                            </button>
                        </div>
                        <div class="tab-list">
                            <span class="icon-list" routerLink="list/{{moduleId}}" [routerLinkActive]="['active'] " [routerLinkActiveOptions]={exact:true}> <md-icon md-tooltip= "{{'List View' | translate}}" mdTooltipClass="list" >list</md-icon> </span>
                            <span class="icon-map" routerLink="map/{{moduleId}}" [routerLinkActive]="['active']" [routerLinkActiveOptions]={exact:true}> <md-icon md-tooltip= "{{'Map View' | translate}}" mdTooltipClass="room" >room</md-icon> </span>
                            <span class="icon-report" routerLink="graph/{{moduleId}}" [routerLinkActive]="['active']" [routerLinkActiveOptions]={exact:true}> <i md-tooltip= "{{'Graph View' | translate}}" mdTooltipClass="graph" class="icofont icofont-chart-bar-graph"></i> </span>
                        </div>
                    </div>
                </md-card-header>
            </div>
            <div class="cf"></div>
            <router-outlet></router-outlet>
        </md-card>
    </div>
</div>