/**
 *	This is a Sass partial file, which is not compiled into CSS.
 *	Partials begin with an underscore.
 *
 * 	This file provides common variables to all nav components.
 */

// Borders
$item-border-color: #eee;

// Item icons
$icon-font-size: 2em;
$icon-padding: 0.4em;