<div fxLayout="row" class="flex-container">
  <!-- Carousel Left Container -->
  <div *ngIf="(slides.length>=1)" fxFlex="80%" fxFlex.xs="0" fxFlex.sm="0" fxHide.xs="TRUE" fxHide.sm="TRUE"
       fxFlex.md="70%" class="carousel-container">
    <pl-carousel [slides]="slides"></pl-carousel>
  </div>

  <!-- Login, Reset Password, Forgot Password Forms Container -->
  <div fxFlex="20%" [ngClass]="{'login-without-carosal' : (slides.length==0)}" fxFlex.xs="100%" fxFlex.sm="100%"
       fxFlex.md="30%" class="form-container">

    <div class="flex-logo">
      <img id="logo" [attr.alt]="logoALT" [src]="logoURL">
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
