@import 'src/styles/material-color.scss';

alert{
  width: 100%;
  margin: -28px 0 0 10px;

}
.flex-container {
  height: calc(100% - 50px); // Height of Nav Top removed.
  display: -ms-flexbox;
  > .carousel-container {
    position: relative;
    > pl-carousel {
      width: 100%;
      height: 100%;
    }
  }
  > .form-container {
    position: relative;
  }
}

.mat-input-prefix {
  width: 30px;
  color: var(--app-secondary-color);
}

.mat-input-underline {
  margin-top: 6px !important;
}

.mat-select-trigger {
  height: 32px;
  font-size: 14px;
}

 .icofont {
  font-size: 20px;
}

.form-container {
  flex-direction: column !important;
}

.flex-logo {
  margin: 50px auto 20px;
  text-align: center;
  flex: 0 0 auto !important;

  > img {
    width: 200px;
    margin-top: 50px;
    max-width: 100%;
  }
}

.login-title {
  font-size: 18px;
  color: $color-dark-gray-text;
}

.flex-login-panel {
  position: absolute; //This fixes a Safari parent % positioning bug.
  background-color: transparent;
  overflow: hidden;
  flex-direction: column !important;
  height: auto !important;
  min-height: auto !important;
  padding: 20px !important;
    .mat-input-placeholder-wrapper{ margin-top: 1px; overflow: visible !important;}
    .mat-input-placeholder{font-size: 14px !important; font-family: $font-stack;}
    input.mat-input-element{font-size: 18px !important; font-family: $font-stack; padding-bottom: 3px; }
    .mat-input-placeholder.mat-float:not(.mat-empty), .mat-focused .mat-input-placeholder.mat-float {
    transform: translateY(-1.66125em) scale(0.95) perspective(100px) translateZ(0.001px);
}
  .icofont {
    color: var(--app-primary-color);
    position: relative;
    bottom: 4px;
  }
  padding: 0 20px;

  > .login-title {
    margin: 10px 0 0 0;
    font-size: 20px;
    color: var(--app-text-secondary-bg-color);
  }
  > md-input-container {
    margin: 0 0 5px 0;
    font-size: 13px;
    width: 90%;
  }
  .mat-select-trigger {
    .mat-select-arrow {
      display: none;
    }
  }

  > .language-field {
    width: 100%;
    margin: 15px 0 0 0;
    > i {
      //border-bottom: 1px solid var(--app-text-secondary-bg-color);
      padding-top: 6px;
      height: 32px;
    }
    > md-select {
      font-size: 14px;
      min-width: 0px !important;
      width: calc(100% - 30px) !important;
    }

  }
  .login-sub-links {
    margin: 12px 20px 12px 20px;
    width: 100%;
    text-align: right;
    > a {
      color: var(--app-primary-color);
      text-decoration: none;
      margin-right: 25px;
      line-height: 44px;
    }
  }
  .spacer {
    flex: 1 1 auto;
  }
  .login-button-container {
    width: 100%;
    height: 50px;

  }
  .green-bg {
    background: var(--app-primary-color);
  }
  .login-button {
    width: 110px;
    height: 40px;
    color: $bg-white;
  }
}
.lang-select{
  .mat-select-underline{left: -30px !important;}
  .mat-select-value{font-size: 18px; margin-top:-3px; font-family: $font-stack;}
  .mat-select-value-text{color:$heading2-color;}
}
