
<div class="dialog-box">
    <button md-dialog-close class="btn-close"><span class="icon"> <md-icon>clear</md-icon> </span></button>
    <!--Header content   -->
    <h1 class="mat-dialog-title" md-dialog-title="" id="md-dialog-title-1">
        {{'Here are some of the top reports we recommend to help get started...' | translate }}
    </h1>
    <!--Body content   -->
    <div class="mat-dialog-content" md-dialog-content="" id="custom-scroll">
        <div class="reports-widget-wrapper">
            <div class="reports-widget" *ngFor="let item of items;">
                <h3>{{item.title}}</h3>
                <div class="box" *ngIf="item.type === 'iframe'" (click)="selectItem(item.id)" [ngClass]="{'box-active': (this.currentSelected==item.id)}">
                    <ng-container>
                        <pl-iframe [url]="item.content.url"></pl-iframe>
                    </ng-container>
                </div>
                <div class="box" *ngIf="item.type === 'carousel'" (click)="selectItem(item.id)" [ngClass]="{'box-active':(this.currentSelected==item.id)}">
                    <ng-container>
                        <pl-carousel [slides]="item.content.slides"></pl-carousel>
                    </ng-container>
                </div>
                <div class="box" *ngIf="item.type === 'video'" (click)="selectItem(item.id)" [ngClass]="{'box-active':(this.currentSelected==item.id)}">
                    <ng-container>
                        <app-video [src]="item.content.src"></app-video>
                    </ng-container>
                </div>
               <div class="box" *ngIf="item.type === 'audio'" (click)="selectItem(item.id)" [ngClass]="{'box-active':(this.currentSelected==item.id)}">
                    <ng-container>
                        <app-audio [src]="item.content.src"></app-audio>
                    </ng-container>
                </div>
               <div class="box" *ngIf="item.type === 'image'" (click)="selectItem(item.id)" [ngClass]="{'box-active':(this.currentSelected==item.id)}">
                    <ng-container>
                        <img [src]="item.content.src"/>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <!--Footer content   -->
    <div class="mat-dialog-actions" md-dialog-actions="">
        <a href="javascript:void(0);" (click)="close()">{{'Go to Widgets' | translate}}</a>
        <button md-button md-dialog-close="{{currentSelected}}" class="btn-select">{{'Select' | translate}}</button>
    </div>
</div>
