<div [formGroup]="form" *ngIf="!field.isReadOnly">
  <ng-container>
    <md-select [placeholder]="field.label" [formControlName]="field.fieldId" [required]="field.isMandatory">
      <md-option *ngFor="let opt of field.options" value="opt.value">{{opt.value}}</md-option>
    </md-select>
  </ng-container>
</div>
<div *ngIf="field.isReadOnly">
  <label *ngIf="!field.hideLabel">{{field.label}}</label>
  <!-- Dropdown will currently show up empty, stop gap indicator to show that it is a dropdown -->
  <label *ngIf="field.hideLabel">Dropdown</label>
  <span>{{form.get(field.fieldId).value}}</span>
</div>