<div [formGroup]="form" *ngIf="!field.isReadOnly">
  <div class="btn-group" (externalClick)="hide()">
    <button type="button" class="btn btn-default dropdown-toggle"
            [title]="title" (click)="onTitleClick()">
      {{ title }}
      <span class="caret" style="margin-left: 0.25em"></span>
    </button>

    <ul *ngIf="isVisible" class="dropdown-menu"
        [class.pull-right]="settings.pullRight"
        [style.max-height]="settings.maxHeight"
        style="display: block; height: auto; overflow-y: auto;">

      <li class="dropdown-item" *ngIf="settings.showCheckAll">
        <a href="javascript:;" role="menuitem"
           (click)="checkAll()">
          <span style="width: 16px;" class="glyphicon glyphicon-ok"></span>
          Check all
        </a>
      </li>

      <li class="dropdown-item" *ngIf="settings.showUncheckAll">
        <a href="javascript:;" role="menuitem"
           (click)="uncheckAll()">
          <span style="width: 16px;" class="glyphicon glyphicon-remove"></span>
          Uncheck All
        </a>
      </li>

      <li *ngIf="settings.showCheckAll || settings.showUncheckAll"
          class="dropdown-divider divider"></li>

      <li *ngFor="let option of options">
        <a class="dropdown-item" role="button"
           (click)="onItemClick($event, option.value)">
          <input *ngIf="settings.checkedStyle == 'checkboxes'"
                 type="checkbox" [checked]="isSelected(option.value)"/>
          <span *ngIf="settings.checkedStyle == 'glyphicon'"
                style="width: 16px;" class="glyphicon"
                [class.glyphicon-ok]="isSelected(option.value)"></span>
          {{ option.label }}
        </a>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="field.isReadOnly">
  <label *ngIf="!field.hideLabel">{{field.label}}</label>
  <span>{{form.get(field.fieldId).value}}</span>
</div>
