<ng-container *ngIf="!hidden && !field.isHidden">
  <pl-date-field *ngIf="isDate()" [field]="field" [form]="form"></pl-date-field>
  <div [formGroup]="form" *ngIf="!field.isReadOnly">
    <!--
        Setting *ngIf inside the md-input-container leads to an ExpressionChangedAfterItWasChecked
        error. Need to set `required` state manually on input because it does not work well with
        https://github.com/angular/material2/issues/116
    -->
    <md-input-container *ngIf="!isDate() && !field.hideLabel">
      <input mdInput [type]="valueType" [required]="field.isMandatory" [formControlName]="field.fieldId"
             (change)="onChange($event)"
             [placeholder]="field.helpText || field.label"/>
    </md-input-container>
    <md-input-container *ngIf="!isDate() && field.hideLabel" floatPlaceholder="never">
      <input mdInput [required]="field.isMandatory" [formControlName]="field.fieldId"
             [placeholder]="field.helpText || field.label"
             (change)="onChange($event)"/>
    </md-input-container>
  </div>
  <div *ngIf="!isDate() && field.isReadOnly">
    <input [value]="value">
    <label *ngIf="!field.hideLabel">{{field.label}}</label>
    <span>{{form.get(field.fieldId).value}}</span>
  </div>
</ng-container>
<input *ngIf="hidden || field.isHidden" type="hidden" [value]="_value"/>
