<div *ngIf="!field.isHidden" [ngSwitch]="field.controlType || field.controlType" class="form-group">
  <pl-text-field *ngSwitchCase="controlTypes.TextBox" [field]="field" [form]="form"></pl-text-field>
  <pl-textarea-field *ngSwitchCase="controlTypes.TextArea" [field]="field" [form]="form"></pl-textarea-field>
  <pl-radio-field *ngSwitchCase="controlTypes.RadioButton" [field]="field" [form]="form"></pl-radio-field>
  <pl-dropdown-field *ngSwitchCase="controlTypes.DropDown" [field]="field" [form]="form"></pl-dropdown-field>
  <pl-checkbox-field *ngSwitchCase="controlTypes.CheckBox" [field]="field" [form]="form"></pl-checkbox-field>
  <pl-form-grid *ngSwitchCase="controlTypes.Grid" [field]="field" [form]="form"></pl-form-grid>
  <pl-multiselect-field *ngSwitchCase="'multiselect'" [options]="field.options"
                        [formControlName]="field.fieldId">
  </pl-multiselect-field>
</div>
