<form fxFlexFill [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div fxFlexFill fxLayout="column" fxLayoutAlign="start center" class="flex-login-panel"
       [ngClass]="{'errorForm' : loginError}">
    <div fxFlex="50px" class="login-title">{{ 'Login' | translate }}</div>
    <md-input-container fxFlex="80px" [ngClass]="">
      <i mdPrefix class="icofont icofont-ui-user"></i>
      <input mdInput formControlName="username" placeholder="{{ 'Username' | translate }}" (focus)="disableErrorMsg()">
      <md-error>
        {{ 'Username is required' | translate }}
      </md-error>
    </md-input-container>

    <md-input-container fxFlex="80px">
      <i mdPrefix class="icofont icofont-ui-lock"></i>
      <input mdInput formControlName="password" placeholder="{{ 'Password' | translate }}" type="password" (focus)="disableErrorMsg()">
      <md-error>
        {{ 'Password is required' | translate }}
      </md-error>
    </md-input-container>
    <div fxLayout="row" fxFlex="70px" class="language-field">
      <i fxFlex="30px" class="icofont icofont-world"></i>
      <md-select fxFlexFill formControlName="language" [(ngModel)]="_translateService.currentLang" class="lang-select" panelClass="lang-select">
        <md-option *ngFor="let lang of languages" [value]="lang.value">
          {{ lang.label }}
        </md-option>
      </md-select>
    </div>
    <alert></alert>
    <span class="login-sub-links">
            <a routerLink="/login/forgot/{{id}}">{{ 'Forgot' | translate }}</a>
			 <button type="submit" class="login-button green-bg pull-right" md-button>{{ 'Login' | translate }}</button>
        </span>
    <div class="spacer"></div>
  </div>
</form>
