<!--<button *ngIf="mobileView" (click)="showWidget()" class="btn-more"><md-icon md-tooltip= "{{'Click To Load More' | translate}}">arrow_drop_down_circle</md-icon></button>-->
<md-card class="map-container" fxLayout>
    <span class="icon-chat"><md-icon>chat_bubble_outline</md-icon></span>
    <button class="btn-more"><md-icon md-tooltip= "{{'Click To Load More' | translate}}">arrow_drop_down_circle</md-icon></button>
    <div class="map-view">
        <agm-map #gm [latitude]="convertStringToNumber(latitude)" [longitude]="convertStringToNumber(longitude)">
            <agm-marker *ngFor="let marker of equipmentsMap;let i=index" [latitude]="convertStringToNumber(marker.latitude)" (mouseOver)="openWindow(infoWindow)" (mouseOut)="closeWindow(infoWindow)" (markerClick)="clickedMarker(marker.moduleNumber, i);gm.lastOpen?.close(); gm.lastOpen = infoWindow"
                [longitude]="convertStringToNumber(marker.longitude)" [openInfoWindow]="true">
                <agm-info-window #infoWindow>
                    <strong>{{marker.moduleNumber}}-{{marker.moduleDescription}}</strong>
                </agm-info-window>
            </agm-marker>
        </agm-map>

    </div>
    <div #mapWidgetContainer class="map-info-widget" id="custom-scroll" *ngIf="(canShowWidget && mobileView) || !mobileView">
        <div *ngFor="let detail of equipmentsMap; let j=index " class="map-info-box " [ngClass]="{ 'highlight-cell':higlightDetails==detail.moduleNumber} ">
            <div class="map-info ">
                <div class="img-widget ">
                    <img src="{{detail.imageURL}} ">
                </div>
                <div class="map-content ">
                    <h3>{{detail.moduleDescription}}- {{detail.moduleNumber}}</h3>
                </div>
            </div>
            <div class="map-info-footer ">
                <a [routerLink]=" '/dyn-module-summary/'+moduleId +'/'+detail.moduleNumber ">{{'More Details' | translate}}</a>

            </div>
        </div>
        <!--map-info-box ends -->
    </div>
</md-card>