@import 'src/styles/material-color.scss';
agm-map {
    width: 100%;
    display: flex;
}

.highlight-cell {
    box-shadow: 1px 1px 8px 3px var(--app-secondary-color) !important;
    border: 1px solid var(--app-primary-color) !important;
}

app-equipment-map {
    display: flex;
    height: 320px;
    margin-bottom: 20px;
    .btn-more {
        background: transparent none repeat scroll 0 0;
        border: 0 none;
        bottom: 25px;
        position: absolute;
        right: -57px;
        .mat-icon{
            width: auto;
            height: auto;
            font-size: 45px;
        }
    }
    .mat-card{
        height: auto;
    }
    .map-container {
        display: flex;
        flex: 1 0 100%;
        //min-height: 310px;
        .map-view {
            background: $bg-white;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
            display: flex;
            flex: 0 0 65%;
            margin: 15px 25px 0 8px;
        }
        .map-info-widget {
            flex: 0 0 33%;
            flex-direction: column;
            overflow-y: scroll;
            .map-info-box {
                background: var(--app-tertiary-color);
                border-radius: 5px;
                box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.3);
                display: flex;
                flex-direction: column;
                overflow: hidden;
                margin: 10px;
                box-sizing: border-box;
                .map-info {
                    display: flex;
                    flex: 0 0 auto;
                    .img-widget {
                        width: 90px;
                        height: 70px;
                        border: 1px solid $border-gray;
                        margin: 5px;
                        display: flex;
                        background-color: $bg-white;
                        img {
                            max-width: 100%;
                        }
                    }
                    .map-content {
                        display: flex;
                        flex: 1 0 auto;
                        h3 {
                            margin: 20px;
                            padding: 0;
                            font-size: 18px;
                            font-weight: 500;
                            color: var( --app-text-color);
                        }
                    }
                }
                .map-info-footer {
                    display: flex;
                    background: $bg-light-gray;
                    justify-content: flex-end;
                    border-radius: 0 0 5px 5px;
                    padding: 5px 0;
                    min-height: 15px;
                    a {
                        text-decoration: none;
                        font-size: 10px;
                        color: var(--app-primary-color);
                        text-transform: capitalize;
                        margin-right: 40px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .map-container .mat-card{
        height: auto;
    }
    .map-view{
        min-height: 165px;
        margin-right:  15px !important;
    }
}